{% extends 'node.html.twig' %}
{% block content %}
  <h2>{{ content.field_public_title }}</h2>
  {{ content.field_recipe_image }}
  <h3>{{ 'Ingredientes'|t }}</h3>
  {{ content.field_ingredientes }}
  <h3>{{ 'Elaboración'|t }}</h3>
  {{ content.field_description }}
  <div class="demeter-dropdown">
    <div class="demeter-dropdown-panel">
      <p>
        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.
      </p>
    </div>
    <button class="demeter-dropdown-toggle">
      plegar/desplegar
    </button>
  </div>
{% endblock %}
