{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'four-columns' %}
{% block content %}
  <h2 class="cb-{{ componentName }}__title">{{ title }}</h2>
  <div class="cb-{{ componentName }}__snippet-area">
    <div class="cb-{{ componentName }}__snippet-area__row">
      {% for item in snippets %}
      {{ item|render_dto }}
      {% if loop.index is divisible by(4) or loop.last %}
    </div>
    {% if not loop.last %}
    <div class="cb-{{ componentName }}__snippet-area__row">
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="cb-{{ componentName }}__button-area">
    {{ button|render_dto }}
  </div>
{% endblock %}
