{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'snippet-imgtxt' %}
{% block content %}
  <a href="{{ url }}" class="cb-{{ componentName }}__img">
    {{ image|render_dto }}
  </a>

    <a href="{{ url }}" class="cb-{{ componentName }}__txt">
      {{ text }}
    </a>

{% endblock %}
