{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'paragraph-hero' %}
{% block content %}

    <img class= "cb-{{ componentName }}__bg-image" src="{{ img_url }}"/>
    <div class="cb-{{ componentName }}__entradilla">
      {{ entradilla_text }}
    </div>
    <a href="{{ cta.url }}" class="cb-{{ componentName }}__cta">
      {{ cta.text }}
    </a>

{% endblock %}
