{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'paragraph-hero' %}
{% block content %}

    <div class= "cb-{{ componentName }}__background-image">
      {{ image|render }}
    </div>
    <div class="cb-{{ componentName }}__teaser">
      {{ teaser }}
    </div>
    <div class="cb-{{ componentName }}__bottom">
      {{ button|render }}
    </div>

{% endblock %}
