{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'footer' %}
{% block content %}

  {# RSS #}
  <div class="cb-{{ componentName }}__rss">
    {% for icon in icons %}
      <div class="cb-{{ componentName }}__rss-icon">
        <a href="{{ icon.url }}" target="_blank">
          <img src="{{ icon.img }}" alt="{{ icon.alt }}" />
        </a>
      </div>
    {% endfor %}
  </div>

  {# Logo #}
  <div class="cb-{{ componentName }}__logo">
    {{ logo|render_dto }}
  </div>

  {# Menu #}
  <div class="cb-{{ componentName }}__menu">
    {% for item in menu %}
      <a href="{{ item.url }}" class="cb-{{ componentName }}__menu-item">
        {{ item.text }}
      </a>
    {% endfor %}
  </div>

{% endblock %}
