{% extends '@component-blocks/component-block.twig' %}
{% set componentName = 'three-columns' %}
{% block content %}
  <h2 class="cb-{{ componentName }}__title">
    {{ title }}
  </h2>
  <div class="cb-{{ componentName }}__snippet_area">
    {% for item in items %}
      {{ item|render_dto }}
    {% endfor %}
  </div>
  <div class="cb-{{ componentName }}__button_area">
    {{ button|render_dto }}
  </div>
{% endblock %}
